/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Stili forzati per la navbar */
.dark-toolbar {
  background-color: #333333 !important;
}

.dark-toolbar .mat-mdc-button, 
.dark-toolbar .mat-button-base,
.dark-toolbar .mat-icon,
.dark-toolbar a, 
.dark-toolbar button {
  color: white !important;
}
